{% macro display_menu_item(item, loop) %}
{% spaceless %}
<li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{% if item.submenu is defined %} has-submenu{% endif %}">
    <a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
       class='{% if item|current %}current {% endif %}{% if item.class is defined %}{{item.class}}{% endif %}'>{{item.label}}</a>

    {% if item.submenu is defined %}
        <div class="drop-indicator"></div>
        <ul>
            {% for submenu in item.submenu %}
                {{ _self.display_menu_item(submenu, loop) }}
            {% endfor %}
        </ul>
    {% endif %}
</li>
{% endspaceless %}
{% endmacro %}


<div class="close-button-under"><div class="close-button"></div></div>
<div class="scroll-container">
    <ul class="bolt-menu">
    {% for item in menu %}
        {{ _self.display_menu_item(item, loop) }}
    {% endfor %}
    </ul>
</div>

