{% extends 'dist/templates/basic-page.twig' %}
{# This template is used for 'listings': Generic pages that list a number of
   records from a certain contenttype. These records are available as an array
   called 'records'. In the for-loop below, we iterate over the records that
   are on this page. It can be used for overview pages like 'all entries', or
   'all records tagged with kittens' as well as search result. #}

{% if mode == 'resources' %}
    {% set title %}Resources{% if taxonomytype is defined %}: {% if taxonomy.options[slug] is defined %}{{ taxonomy.options[slug] }}{% else %}{{ slug }}{% endif %}{% endif %}{% endset %}
{% elseif taxonomytype is defined %}
    {% set title %}{{ __('Overview for') }}{% if taxonomy.options[slug] is defined %}{{ taxonomy.options[slug] }}{% else %}{{ slug }}{% endif %}{% endset %}
    {# taxonomies are fetched unordered by design. If we specified an order in config.yml, sort them here: #}
    {% set records = records|order(app.config.get('general/listing_sort')) %}
{% elseif search is defined %}
    {% set title %}{{ __('Search results for <b> %search% </b>.', { '%search%': search|escape }) }}{% endset %}
{% elseif records is not empty %}
    {% set title %}{{ records|first.contenttype.name }}{% endset %}
{% endif %}

{% block content %}
<!-- Main Page Content and Sidebar -->
<!-- Main Blog Content -->
<div class="content-wrapper" role="content">


    <h1>{{ title }}</h1>

    {% for record in records %}
        {% set hasimage = record.image != "" or record.video.thumbnail %}
        <article class="record-box{% if hasimage %} has-image{% endif %}">

            <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>
            <div class="record-content">
                {% if hasimage %}
                <div class="image-holder">
                    <a href="{{ record.link }}"{% if record.video.thumbnail and record.image == "" %} style="background-image: url({{ record.video.thumbnail }});"{% endif %}>
                        {% if record.image!="" %}<img src="{{ thumbnail(record.image, 200, 200) }}">{% endif %}
                    </a>
                </div>
                {% endif %}
                <div class="text">
                    <div class="record-snippet">
                        {# display something introduction-like.. #}
                        {% if record.teaser != "" %}
                            {{ record.teaser }}
                        {% elseif record.introduction != "" %}
                            {{ record.introduction }}
                        {% else %}
                            <p>{{ record.excerpt(300) }}</p>
                        {% endif %}
                    </div>

                    {% include 'dist/templates/_recordfooter.twig' with {'record': record} %}
                </div>
            </div>
        </article>

    {% else %}
        <article>


            {% if search is defined %}

                <p>
                    {{ __("No results found for '%search%'. Please try another search.", { '%search%': search|escape }) }}
                </p>

            {% else %}

                <h2>No content found.</h2>

                <p>
                    Unfortunately, no content could be found. Try another page, or go to the
                    <a href="{{ paths.root }}">homepage</a>.
                </p>

            {% endif %}

            {#
            optionally, you can redirect the browser to another page. Just uncomment the next line to do so.
            {{ redirect('/') }}
            #}

        </article>
    {% endfor %}

    {# If there are more records than will fit on one page, the pager is shown. #}
    {{ pager('', 2, '_sub_pager.twig') }}


</div>
<!-- End Main Content -->
<!-- End Main Content and Sidebar -->
{% endblock %}
